.navbar{
    height: 30px;
    background-color: rgb(255, 245, 105);    
    display: flex;    
    justify-content: space-evenly;
}
a{
    color: black;
    text-decoration: none;
    
}
li{
    list-style-type: none;    
}
.outerdiv{
    height: 300px;
    width: 300px;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerdiv{
    height: 200px;
    width: 200px;
    background-color: red;
    text-align: center;
}