*{
    padding: 0;
    color: white;
}
#navbar{
    
    height: 50px;
    background-color: #0f1111;
    
}
#logo{
    color: yellow;
    font-size: 25px;
}
a {
    margin-right: 200px;
    text-decoration: none;
}
button{
    background-color: yellow;
}